// main.scss
@import "variables";
@import "mixins";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100svw;
	height: 100svh;
	background-color: $primary-color;
	color: $text-color-primary;
}

h1 {
	font-size: 24px;
	text-transform: uppercase;
}
p {
	color: $text-color-secondary;
}

.accent {
	color: $accent-color;
}

.wrapper {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#content-wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
